nav {
  background-color: #8EE4AF;
  text-align: right;
  padding: 1.25rem;
}

nav span {
  margin-right: 0.625rem;
  padding-right: 0.625rem;
  border-right: 1px solid #296158;
}

nav span:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: #05386B;
  font-size: 1.5625rem;
  font-weight: normal;
  -webkit-transition: font-weight 1s;
  transition: font-weight 1s;
}

nav a:hover {
  color: #204CCF;
  font-weight: bold;
}

.live-page {
  font-weight: bold;
  color: #05386B;
  font-size: 1.5625rem;
}

body {
  background: #EDF5E1;
  color: #05386B;
  font-family: 'Roboto', sans-serif;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about-me article {
  width: 30%;
  padding: 1rem;
}

@media only screen and (max-width: 818px ) {
  .about-me {
    flex-direction: column;
  }

  .about-me article {
    width: 90%;
  }

}

.about-me img {
  padding: 1.25rem;
}


i.fas {
  padding-right: 0.3125rem;
}

.project-item {
  list-style: none;
  padding: 0.9375rem;
  margin-left: 3.125rem;
  -webkit-transition: margin-left 2s;
  transition: margin-left 2s;
}

.project-item:hover {
  margin-left: 6.25rem;
}

.project-item a {
  font-size: 1.125rem;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}

.project-item a:hover {
  font-size: 1.5625rem;
}

.project-item img {
  vertical-align: middle;
  height: 3.125rem;
  padding-right: 0.9375rem;
}

footer {
  background-color: #05386B;
  color: #EDF5E1;
  padding: 1.25rem;
  text-align: center;
}

.contact-form {
  padding-bottom: 1.875rem;
}


form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.part-1, .part-2, .part-3 {
  padding: 0 1.25rem;
}

.part-1 input {
  width: 12.5rem;
  height: 1.875rem;
  margin-bottom: 1.25rem;
}

input, textarea {
  display: block;
}

fieldset {
  border: none;
  margin: 1.25rem;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 2.188rem;
  margin-top: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.563rem;
  width: 1.563rem;
  background-color: #FFF;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #4169E1;
}

.checkbox input:checked ~ .checkmark {
  background-color: #4169E1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 0.5625rem;
  top: 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=submit] {
  margin: 0.625rem;
  font-size: 1.25rem;
  background-color: #8EE4AF;
}