nav {
  background-color: #8EE4AF;
  text-align: right;
  padding: 20px;
}

nav span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #379683;
}

nav span:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: #05386B;
  font-size: 25px;
  font-weight: normal;
  -webkit-transition: font-weight 1s;
  transition: font-weight 1s;
}

nav a:hover {
  color: #4169E1;
  font-weight: bold;
}

.live-page {
  font-weight: bold;
  color: #05386B;
  font-size: 25px;
}

body {
  background: #EDF5E1;
  color: #05386B;
  font-family: 'Roboto', sans-serif;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about-me article {
  width: 30%;
  padding: 1rem;
}

@media only screen and (max-width: 818px ) {
  .about-me {
    flex-direction: column;
  }

  .about-me article {
    width: 90%;
  }

}

.about-me img {
  padding: 20px;
}


i.fas {
  padding-right: 5px;
}

.project-item {
  list-style: none;
  padding: 15px;
  margin-left: 50px;
  -webkit-transition: margin-left 2s;
  transition: margin-left 2s;
}

.project-item:hover {
  margin-left: 100px;
}

.project-item a {
  font-size: 18px;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}

.project-item a:hover {
  font-size: 25px;
}

.project-item img {
  vertical-align: middle;
  height: 50px;
  padding-right: 15px;
}

footer {
  background-color: #05386B;
  color: #EDF5E1;
  padding: 20px;
  text-align: center;
}

.contact-form {
  padding-bottom: 30px
}


form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.part-1, .part-2, .part-3 {
  padding: 0 20px;
}

.part-1 input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}

input, textarea {
  display: block;
}

fieldset {
  border: none;
  margin: 20px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #4169E1;;
}

.checkbox input:checked ~ .checkmark {
  background-color: #4169E1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=submit] {
  margin: 10px;
  font-size: 20px;
  background-color: #8EE4AF;
}