nav {
  background-color: #8EE4AF;
  text-align: right;
  padding: 20px;
}

nav span:first-child {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #379683;
}

nav a {
  text-decoration: none;
  color: #05386B;
  font-size: 25px;
  font-weight: normal;
  -webkit-transition: font-weight 1s;
  transition: font-weight 1s;
}

nav a:hover {
  color: #4169E1;
  font-weight: bold;
}

.live-page {
  font-weight: bold;
  color: #05386B;
  font-size: 25px;
}

body {
  background: #EDF5E1;
  color: #05386B;
  font-family: 'Roboto', sans-serif;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about-me article {
  width: 30%;
  padding: 1rem;
}

@media only screen and (max-width: 818px ) {
  .about-me {
    flex-direction: column;
  }

  .about-me article {
    width: 90%;
  }

}

.about-me img {
  padding: 20px;
}


i.fas {
  padding-right: 5px;
}

.project-item {
  list-style: none;
  padding: 15px;
  margin-left: 50px;
  -webkit-transition: margin-left 2s;
  transition: margin-left 2s;
}

.project-item:hover {
  margin-left: 100px;
}

.project-item a {
  font-size: 18px;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}

.project-item a:hover {
  font-size: 25px;
}

.project-item img {
  vertical-align: middle;
  height: 50px;
  padding-right: 15px;
}

footer {
  background-color: #05386B;
  color: #EDF5E1;
  padding: 20px;
  text-align: center;
}
